* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(
        30deg, 
        rgb(136, 134, 140) 0%, 
        rgb(9, 9, 9) 100%
        );
        color: #fff;
}

html {
    overflow-x: hidden;
}

.container {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

header, footer {
    background-color: black;
    padding-top: 20px;
    color: #fff;
    text-align: center; 
    padding-bottom: 20px;

}

header > .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

nav {
    background: linear-gradient(
        30deg, 
        rgba(27, 27, 27, 0.649) 50%
        rgba(136, 134, 140, 0.637) 50%, 
        );
    padding: 16px 0;
    text-align: center; 
    display: none;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

.hamburguer-menu {
    margin-right: 20px; 
    margin-top: -42px;
    width: 32px;
    position: fixed;
    right: 0;
    cursor: pointer;
}

.hamburguer-menu span {
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}

section {
    display: flex;
}

section {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.flex-container {
    display: flex;
}

.image-store {
    flex: 1;
}

.image-store img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.image-store { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex: 0.5; 
} 

.image-store img { 
    max-width: 100%; 
    height: auto; 
    border-radius: 6px;
}

.About {
    flex: 0.5;
    padding: 20px 0;
}

#about-store img{
    max-width: 350px;
}

.image-store, .About {
    flex: 0.5; 
    margin: 2px; 
}

section h2, h3 {
    margin: 12px;
}

.vehicles-list {
    display: flex;
    flex-wrap: wrap;
    
}

.vehicles-list li {
    list-style: none;
    max-width: 30%;
    margin: 0px 10px;
}

.vehicles-list li img {
    max-width: 100%;
    border-radius: 6px;
}

p {
    margin: 12px;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: rgb(8, 88, 8);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 16px;
}

.vehicles-list li strong {
    margin-bottom: 8px;
    display: block; 
}

del { 
    margin-top: 8px; 
    display: block; 
    font-size: 13px;
    color: #ffffff41;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input,
.form-campo textarea {
    width: 100%;
    display: block;
    padding: 8px;
}

.form-campo textarea {
    resize: none;
    height: 120px;
}

form {
    max-width: 360px;
}

form button {
    max-width: 120px;
    display: block;
    margin: 0 auto;
    margin-bottom: 18px;
}

footer .container {
    text-align: center;
}

footer .container p {
    display: inline-block; /* Isso permite que o texto seja centralizado horizontalmente */
    margin-right: 80px;
    vertical-align: middle; /* Isso alinha verticalmente o texto ao centro */
}

footer .container ul.redes-sociais {
    display: inline-block; /* Isso permite que a lista de redes sociais seja centralizada horizontalmente */
    vertical-align: middle; /* Isso alinha verticalmente a lista ao centro */
    margin-left: 16px;
}

footer .container ul.redes-sociais li {
    display: inline-block;
    margin-left: 16px; /* Espaço entre as imagens */
    height: 26px;
}

footer .container ul.redes-sociais img {
    height: 36px;
    align-items: center;
}

footer {
    background-color: black; 
    overflow: auto; /* Limpa o overflow causado pelo uso de float */
    justify-content: space-between;
    align-items: center;
}

